:root {
	--box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
	--outer-box-border-radius: 2.2rem;
	--outer-box-padding: 0.5rem;
	--outer-box-margin: 1rem;
	--inner-box-border-radius: 1.5rem;
	--small-box-border-radius: 1rem;
	--inner-box-margin: 0.5rem;
	--inner-box-padding: 0.25rem;
	--box-position: relative;
	--diff-factor: 1.5rem;
	--font-basic: 'DM Sans', sans-serif;
}

body {
	--color-background: #090909;
	--color-border: #242424;
	--color-box-background: #141414;
	--color-box-background-hover: rgba(172, 172, 172, 0.1);
	--color-text-dark: #cccccc;
	--color-text-light: rgb(102, 102, 102);
	--color-text-darker: #464646;
	--color-stack-box: #4a4a4a;
	--color-stack-box-hover: #8a8a8a;
	--color-divider-background: #2d2d2d;
	--color-carousel-indicator-background: #373737;
	--color-orange: rgb(192, 117, 31);
	--color-red-neon: #ff3131;
	--color-green-neon: #6dd33d;
	--color-cursor: #717171;
	--box-border: 1px solid var(--color-border);
	margin: 0;
	min-height: 100vh;
	font-family: var(--font-basic);
	font-weight: 400;
	font-style: normal;
	position: relative;
	cursor: none;
}

body.light-mode {
	--color-background: #f4f4f4;
	--color-box-background: #d4d4d4;
	--color-border: #6c6c6c;
	--color-text-dark: #515151;
	--color-text-light: #303030;
	--color-text-darker: #464646;
	--color-stack-box: #bababa;
	--color-stack-box-hover: #4c4c4c;
	--color-divider-background: #2d2d2d;
	--color-cursor: #2f2f2f;
}

img {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.box-title {
	font-weight: 500;
	color: var(--color-red-neon);
	letter-spacing: 4px;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

.box-description {
	font-size: 1.25rem;
	color: var(--color-text-dark);
	letter-spacing: 2px;
	margin-top: 2rem;
	padding: 0;
}

.box-sub-title {
	font-weight: 700;
	color: var(--color-text-darker);
	letter-spacing: 4px;
}

.box-description-small {
	font-size: 1rem;
	color: var(--color-text-dark);
	margin-top: 0.5rem;
	padding: 0;
	letter-spacing: 1px;
	line-height: 30px;
	word-spacing: 2px;
	word-break: break-word;
	overflow-wrap: break-word;
}

.carousel-title {
	color: var(--color-red-neon);
	align-self: flex-start;
	margin: 0 0.5rem;
	font-size: 1.5rem;
}

.carousel-description {
	color: var(--color-text-light);
	margin: 0.5rem 0.5rem;
	font-size: 1rem;
}

.carousel-img {
	width: 5rem;
}

pre[class*='language-'] {
	height: 100%;
	border-radius: var(--inner-box-border-radius);
	background-color: #3c3c3c !important;
	text-shadow: none !important;

	code[class*='language-'] {
		text-shadow: none !important;
		color: white !important;

		.token.operator {
			color: #c16800 !important;
			background: hsl(0deg 0.99% 21.54% / 50%) !important;
		}
	}
}

a,
button,
select {
	text-decoration: none;
	cursor: none;
}

code {
	color: var(--color-green-neon);
}

div[class*='-content'] {
	animation: animateOnLoad 1s ease 200ms backwards;

	@keyframes animateOnLoad {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

@media (max-width: 1024px) {
	.carousel-description {
		font-size: 0.875rem;
	}
	.carousel-title {
		font-size: 1.25rem;
	}
	.carousel-img {
		width: 3rem;
	}
}

@media (max-width: 850px) {
	.box-title,
	.box-sub-title,
	.box-description-small,
	.carousel-description {
		font-size: 0.75rem;
	}
	.box-description,
	.carousel-title {
		font-size: 1rem;
	}
	.carousel-img {
		width: 3rem;
	}

	body {
		--outer-box-padding: 0.25rem;
		--outer-box-margin: 0.75rem;
	}

	pre[class*='language-'] {
		font-size: 0.875rem !important;
	}
}
